<h1>Applications</h1>

<h2>Application Name: <%= @application.name %></h2>

<h3>Pets</h3>
<% @application.application_pets.each do |app_pet| %>
  <p>Pet Name: <%= app_pet.pet.name %></p>
  
  <% if app_pet.status == "Approved" %>
    <p>Approved</p>
  <% else %>
    <% if app_pet.status != "Approved" %>
      <%= button_to "Approve", "/admin/applications/#{@application.id}/#{app_pet.id}", method: :patch %>    
    <% end %>
  <% end %>
<% end %>




