<section id="pet_search">
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.label :search_pet, "Search Pet" %>
    <%= form.text_field :search_pet, :required => true %>
    <%= form.submit "Search" %>
  <% end %>
</section>