<h1>New Application</h1>

<%= render partial: "application_form", locals: {
                                      path: "/applications",
                                      method: :post,
                                      button_text: "Submit"
} %>
