<p><u>Name</u>: <%= @application.name %></p>
<p><u>Address</u>: <%= @application.full_address %> </p>
<p><u>Why would you make a good home?</u>: <%= @application.description %> </p>
<p><u>Application to Adopt</u>:</p>
<p><u>Status</u>: <%= @application.status %> </p>
