<h2>Application Number <%= @application.id %></h2>
<p> <b>Name of Applicant: </b><%= @application.name %></p>
<p> <b>Address: </b> <%= @application.address_join %></p>
<p> <b>Description of Qualification: </b><%= @application.description %></p> 
<p> <b>Pets Applied For: </b></p> 
<p> <b>Application Status:</b></p>