<%= render partial: 'application/header', layout: 'header' %>
<%= render partial: 'application/body', layout: 'body' %>


<div class="myDiv" >
  <h1>Edit Pet</h1>
</div>

<%= render partial: 'form', locals: { path: "/pets/#{@pet.id}", method: :patch } %>