<%= render partial: 'application/header', layout: 'header' %>
<%= render partial: 'application/body', layout: 'body' %>

<div class="myDiv" >
  <h1>New Pet</h1>
</div>

  <%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/pets", method: :post } %>