<h3> All Shelters </h3>
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>

<h4>Shelters with Pending Applications</h4>
<% @pending_apps.each do |shelter| %>

  <p><%= shelter %></p>
<% end %>

<p><%= link_to "All Applications", "/admin/pets_applications" %></p>

