<h2> Applications </h2>

<% @application_pets.each do |application_pet| %>
  <ul>
  <li><%= application_pet.pet.name %> </li>
    <% if application_pet.status == "Approved"%>
    <p> ***Approved*** </p>
    <% elsif application_pet.status == "Rejected" %>
    <p> ***Rejected*** </p>
    <% else %>
    <%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, params: {application_pet_id: application_pet.id, reject: false} %>
    <%= button_to "Reject", "/admin/applications/#{@application.id}", method: :patch, params: {application_pet_id: application_pet.id, reject: true} %>
    <% end %>
  </ul>
  <% end %>
