<h1>Applicant IDs </h1>
  <h3> <p> <%= @applicant.id  %> </p> </h3>
  <p>Name <%= @applicant.name  %> </p>
  <p>Address <%= @applicant.street_address, @applicant.zip, @applicant.city, @applicant.state  %> </p>
 