<h1>Applicant IDs</h1>
<% @applicants.each do |applicant| %>
  <h3>
    <p><%= applicant.id %></p>
  </h3>
  <%= render partial: 'applicant_info', locals: {object: applicant} %>
  <p><%= link_to "Applicants Show page", "/applicants/#{applicant.id}" %></p>
<% end %>