<h1>Name of Applicant: <%= @applicant.name %></h1>
<p>Full Adress: <%= "#{@applicant.street_address}" %></p>
<p><%= "#{@applicant.city}, #{@applicant.state} #{@applicant.zipcode}" %></p> 

<p>Description: <%= @applicant.description %></p>