<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
<% end %>


<h2> Shelters with Pending Applications </h2>

<% @shelters.each do |shelter| %>
  <% shelter.pets.each do |pet| %>
    <% pet.applications.find do |application| %>
      <% if application.status == "Pending" %>
          <h3><%= shelter.name %></h3>
          <h5><%= application.status %></h5>
          <% end %>
        <% end %>
      <% end %>
<% end %>
