<% Shelter.order_by_reverse_alphabetical.each do |shelter| %>
<br>
<%= shelter.name %>
<% end %>
<section id="pending_apps">
<% Shelter.pending_applications.eachs do |shelter| %>
<%= shelter.name %>
<% end %>
</section>