<h1>Admin Applications</h1>
<% @application.pets.each do |pet| %>
  <%= form_with url: "/admin/applications/#{@application.id}", form: {class: "form-elements"}, method: :patch, local: true do |f|  %>
    <span class=admin-show-approve>
      <div id=<%= "approve-#{pet.id}" %>>
        <%= f.label :pet_name, "#{pet.name}" %>
        <%= f.submit "Approve" %>
      </div>
    </span>
  <% end %>
<% end %>