<h1>Approve a Pet?</h1>


<% @pets.each do |pet| %>
  <ul>
    <li><%= pet.name %></li>
    <li>
      <%= form_with url: "admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
        <%= form.submit "Approve #{pet.name}!" %>
      <% end %>
    </li>
  </ul>
<% end %>