<h1>Edit Vet Office</h1>
<%= render partial: 'form', locals: {
                                      path: "/veterinary_offices/#{@vet_office.id}",
                                      method: :patch
																		} %>