<%= render partial: 'application/header', layout: 'header' %>
<%= render partial: 'application/body', layout: 'body' %>

<div class="myDiv" >
  <h1>Edit Veterinary Office</h1>
</div>

<%= render partial: 'form', locals: { path: "/veterinary_offices/#{@vet_office.id}", method: :patch } %>