<%= render partial: 'application/header', layout: 'header' %>
<%= render partial: 'application/body', layout: 'body' %>

<div class="myDiv" >
<h1>New Vet Office</h1>
</div>

<%= render partial: 'form', locals: { path: "/veterinary_offices", method: :post } %>