<h1>Application Number <%= @application.id %></h1>
<p> Name of Applicant:</p> <%= @application.name %>
<p> Address:</p>
<%# <p> Address:</p> <%= @application.address_join %> 
<p> Description of Qualification:</p> <%= @application.description %>
<p> Pets Applied For:</p> 
<p> Application Status:</p> 