<h1>Admin Shelters Index</h1>

<ul>
<% @shelters.each do |shelter| %>
  <div>
    <li><%= shelter.name %></li>
  </div>
<% end %>
</ul>

<h2>Shelters with Pending Applications</h2>

<ul>
<% @shelters_with_pending_applications.each do |shelter| %>
  <div>
    <li><%= shelter.name %></li>
  </div>
<% end %>
</ul>