<h1> Shelters Overview </h1>
<% @shelters.reverse_order.each do |shelter| %>
    <p>Shelter Name: <%= shelter.name %></p>
<% end %>

<section class="shelters_pending">
  <h1>Shelters with Pending Applications:</h1>
    <% @shelters.shelters_pending_applications.each do |shelter_name|%>
        <%= shelter_name %>
    <% end %>
</section>
