<h2>All Shelters</h2>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3> 
  </div>
<% end %>

<section>
  <h2>Shelters with Pending Applications</h2>
  <ul>
    <% @shelters_with_pending_applications.each do |shelter|%>
      <li><%="Shelter name: #{shelter} "%></li>
    <% end %>
  </ul>
</section>