<h1> All Shelters </h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3> <%= shelter.name %> </h3>
  </div> 
<% end %>
<br><hr><br>
<div id="pending_applications">
 <div id="pending_applications">
  <h3> Shelters with Pending Applications </h3>
  
  <% @shelters_with_pending_apps.each do |pending| %>
    <ul>
      <li> <%= pending.name %> </li>
      
      <% @applications.each do |application| %>
        <ul>
          <li> <%= link_to application.name, "/admin/applications/#{application.id}" %> </li> 
        </ul>
    
    <% end %>
   
  <% end %>
  </ul>
</div>
