<h1>Admin Shelters Index</h1>
<% @shelters.each do |shelter| %>
  <p>Shelter Name: <%= link_to shelter.name, shelter_path(shelter) %></p>
  <p>Shelter City: <%= shelter.city %></p>
  <p>Shelter Rank: <%= shelter.rank %></p>
  <p>Shelter Foster Program: <%= shelter.foster_program %></p>
  <br>
<% end %>
