<h1> Admin Shelter Show Page</h1> 
<br>

<h2>Name of Shelter: <%= @shelter.name %></h2>

<section id="shelter-info">
<p>
  Shelter Address:
  <%= @shelter.city %>,
</p>
</section>
<br>

<section id="statistics">
<p>
  Statistics:
  <%= "Put Statistic Here" %>
</p>
</section>