<h1><%= "#{@application.name}'s Application" %></h1>

<p>Address: <%= "#{@application.street_address}, #{@application.city}, #{@application.state} #{@application.zip_code}" %></p>
<p>Reason for Adoption: <%= @application.reason_for_adoption %></p>
<p>Status: <%= @application.status_check %></p>